<table class="table-auto w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <% unless no_header ||= false%>
      <th scope="col" class="text-left text-xs font-medium text-gray-500 uppercase">
        <%= edibles_name ||= "Food" %>
      </th>
      <% unless no_quantity ||= false %>
      <th scope="col" class="text-left text-xs font-medium text-gray-500 uppercase">
        Grams
      </th>
      <% end %>
      <th scope="col" class="text-left text-xs font-medium text-gray-500 uppercase">
        Fat
      </th>
      <th scope="col" class="text-left text-xs font-medium text-gray-500 uppercase">
        Carbs
      </th>
      <th scope="col" class="text-left text-xs font-medium text-gray-500 uppercase">
        Fibre
      </th>
      <th scope="col" class="text-left text-xs font-medium text-gray-500 uppercase">
        Protein
      </th>
      <th scope="col" class="text-left text-xs font-medium text-gray-500 uppercase">
        Calories
      </th>
      <th scope="col">
        <span class="sr-only">Edit</span>
      </th>
      <% end %>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200" id="<%= turbo_stream_to_subscribe_to %>_edible_rows">
    <%= turbo_stream_from turbo_stream_to_subscribe_to %>
    <% edibles.each do |edible|%>
      <%= render partial: "edibles/row", locals: {
               edible: edible,
               presenter: presenter ||= nil,
               no_quantity: no_quantity ||= false
                                             } %>
    <% end %>
  </tbody>
</table>
