<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Daily Log</h1>
  </div>
  <div class="mx-auto">
    <%=
      render partial: "edibles/table",
             locals: {
               edibles: [current_user, @meal_totals, @food_totals],
               no_quantity: true,
               presenter: UserTargetsPresenter,
               turbo_stream_to_subscribe_to: :todays_food
                     }
    %>
  </div>
  <div class="mx-auto">
    <%=
      render partial: "edibles/table",
             locals: {
               edibles: @todays_food,
               no_quantity: true,
               turbo_stream_to_subscribe_to: :todays_food
                     }
    %>
  </div>
  <div class="mx-auto">
    <%=
      render partial: "edibles/table",
             locals: {
               edibles: @todays_meals,
               edibles_name: "Meal",
               no_quantity: true,
               turbo_stream_to_subscribe_to: :todays_meals
                     }
    %>
  </div
</div>
