<div class="mx-auto">
  <%= render partial: "edibles/table", locals: {
         edibles: @meal.ingredients,
         turbo_stream_to_subscribe_to: :ingredient_rows
       }
  %>

<%= render "search_entries/search_bar", food_only: true, parent_item: @meal %>
<%= turbo_frame_tag "new_ingredient" do %>
  <%= render "ingredients/form", ingredient: @meal.ingredients.new %>
<% end %>
</div>
