<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing food consumption event</h1>

  <%= render "form", food_consumption_event: @food_consumption_event %>

  <%= link_to "Show this food consumption event", @food_consumption_event, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to food consumption events", food_consumption_events_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
